{% extends 'base.html.twig' %}

{% block title %}Hello StripeController!{% endblock %}

{% block body %}
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            {% for message in app.flashes('cancel') %}
                                <div
                                    style="color: darkred;
                                                border: 2px darkred solid;
                                                text-align: center;
                                                padding: 5px;margin-bottom: 10px;">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <label for="checkout-form" class="mb-3">Форма платежа</label>
                            <form id='checkout-form' method='post' action="{{ path('app_stripe_charge') }}">
                                <label for="price">Price</label>
                                <input type="number" id="price" class="form-control" name="price" placeholder="Price">

                                <label for="subscribe">Оформить подписку</label>
                                <select class="form-control" id="subscribe" name="subscribe">
                                    <option value="0">Без подписки</option>
                                    <option value="1">Подписаться</option>
                                </select>

                                <button id='pay-btn' class="btn btn-success" type="submit" style="margin-top: 20px; width: 100%;padding: 7px;">
                                    PAY
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
